<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

	<div class="row mt-5">
		<div class="col p-5">
			<h5>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/genres">Genres</a></li>
					  <li class="breadcrumb-item">
						<a href="/genres/update/<%=id %>">Edit</a></li>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						<strong>Delete</strong>
					</li>
					</ol>
				  </nav>
				
			</h5>
			<p class="lead"> 
				An easy way for readers to find what they’re looking for. By “labeling” books and organizing them into logical categories or genres, it’s easier for readers to find the types of books they want.
			</p>
		</div>
		<div class="col">
		<div class="card mt-4">
		<div class="card-header">
			<h5 class="card-title">Confirm Delete Genre</h5>
		</div>
		<div class="card-body">

				
					<form method="POST" action="/genres/delete/<%= id %>">		
						
						<div class="alert alert-danger" role="alert">
						Do you really want to delete this Genre?
						</div>	
						<button type="submit" class="btn btn-danger">
							Delete
						</button>
				</form>	
			

		<% if (typeof error !== "undefined") { %>
			<div class="alert alert-primary mt-2" role="alert">
				<p>Form could not be submitted due to the following error:</p>
				<p><%= error %></p>
			</div>
		<% } %>

		</div>
		
	</div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>