<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="container">
		<div class="row mt-5">
			<div class="col p-5">
				<h1 class="display-6">
					<strong>Genres List</strong>
				</h1>
				<p class="lead"> 
					An easy way for readers to find what they’re looking for. By “labeling” books and organizing them into logical categories or genres, it’s easier for readers to find the types of books they want.
				</p>
			</div>
			<div class="col">
				<div class="table-responsive">		      	 
					<table class="table table-striped ">			
						<thead>
							<tr>		      
							<th scope="col">Name</th>
							<th scope="col">
								<a href="/genres/create" class="btn btn-primary">New</a>
							</th>
							</tr>
						</thead>
						<tbody>
							<%  result.docs.forEach( function(genre) { %>
								<tr>		      
								<td><%= genre.name %></td>
								<td>					      	
									<a class="btn btn-secondary" href="/genres/update/<%=genre._id%>" class="card-link">Edit</a>
								</td>		      
								</tr>
							<% }); %>	     
						</tbody>
				</table>			
				</div>
				<nav aria-label="Genres pagination navigation">
					<ul class="pagination">
					<% if (result.hasPrevPage==true) { %>
						<li class="page-item">
						<a class="page-link" href="/genres?page= <%= result.prevPage %>">&laquo;</a>
					</li>
					<% } else { %>
						<li class="page-item disabled">
						<a class="page-link" href="/genres?page=<%= result.prevPage %>" tabindex="-1" aria-disabled="true">&laquo;</a>
					</li>
					<% } %>


					<% for(var i=1; i <= result.totalPages; i++) { %> 
						<% if (i == result.page) { %>
					<li class="page-item active" aria-current="page"><a class="page-link" href="/genres?page=<%= i %>"><%= i %></a></li>
				<% } else { %>
								<li class="page-item"><a class="page-link" href="/genres?page=<%= i %>"><%= i %></a></li>
						<% } %> 

					<% } %>  

					<% if (result.hasNextPage==true) { %>
						<li class="page-item">
						<a class="page-link" href="/genres?page=<%= result.nextPage %>">&raquo;</a>
					</li>
					<% } else { %>
						<li class="page-item disabled">
						<a class="page-link" href="/genres?page=<%= result.nextPage %>" tabindex="-1" aria-disabled="true">&raquo;</a>
					</li>
					<% } %>


					</ul>
				</nav>
			</div>
		</div>
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>