<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
		.pagination > li > a
		{
			background-color: white;
			color: grey;
		}

		.pagination > li > a:focus,
		.pagination > li > a:hover,
		.pagination > li > span:focus,
		.pagination > li > span:hover
		{
			color: grey;
			background-color: #eee;
			border-color: #ddd;
		}

		.pagination > .active > a
		{
			color: white;
			background-color:  grey;
			border: solid 1px  grey;
		}

		.pagination > .active > a:hover
		{
			background-color:  grey;
			border: solid 1px  grey;
		}
  </style>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="container">
		<div class="row mt-5">
			<div class="col p-5">
				<h1 class="display-6">
					<strong>Genres List</strong>
				</h1>
				<p class="lead"> 
					An easy way for readers to find what they’re looking for. By “labeling” books and organizing them into logical categories or genres, it’s easier for readers to find the types of books they want.
				</p>
			</div>
			<div class="col">
				<div class="table-responsive">		      	 
					<table class="table table-striped ">			
						<thead>
							<tr>		      
							<th scope="col">Name</th>
							<th scope="col">
								
								<a href="/genres/create" class="link-secondary">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
									</svg>
								</a>
							</th>
							</tr>
						</thead>
						<tbody>
							<%  result.docs.forEach( function(genre) { %>
								<tr>		      
								<td><%= genre.name %></td>
								<td>					      	
									<a  href="/genres/update/<%=genre._id%>" class="link-secondary">
										<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
											<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
										  </svg>
									</a>
								</td>		      
								</tr>
							<% }); %>	     
						</tbody>
				</table>			
				</div>
				<nav aria-label="Genres pagination navigation">
					<ul class="pagination">
					<% if (result.hasPrevPage==true) { %>
						<li class="page-item">
						<a class="page-link" href="/genres?page= <%= result.prevPage %>">&laquo;</a>
					</li>
					<% } else { %>
						<li class="page-item disabled">
						<a class="page-link" href="/genres?page=<%= result.prevPage %>" tabindex="-1" aria-disabled="true">&laquo;</a>
					</li>
					<% } %>


					<% for(var i=1; i <= result.totalPages; i++) { %> 
						<% if (i == result.page) { %>
					<li class="page-item active" aria-current="page"><a class="page-link" href="/genres?page=<%= i %>"><%= i %></a></li>
				<% } else { %>
								<li class="page-item"><a class="page-link" href="/genres?page=<%= i %>"><%= i %></a></li>
						<% } %> 

					<% } %>  

					<% if (result.hasNextPage==true) { %>
						<li class="page-item">
						<a class="page-link" href="/genres?page=<%= result.nextPage %>">&raquo;</a>
					</li>
					<% } else { %>
						<li class="page-item disabled">
						<a class="page-link" href="/genres?page=<%= result.nextPage %>" tabindex="-1" aria-disabled="true">&raquo;</a>
					</li>
					<% } %>


					</ul>
				</nav>
			</div>
		</div>
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>