<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>
<main>
	<div class="row mt-5">
        <div class="col">
            <h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                            <a href="/technicalbook">Technical Books</a></li>
                      <li class="breadcrumb-item active" aria-current="page">
                        <a href="/technicalbook/update/<%= instance.book._id %>">Edit</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        <a href="/technicalbook/instance/<%= instance.book._id %>">Copies</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        <a href="/technicalbook/instance/update/<%= instance._id %>">Edit</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        <strong>Delete</strong>
                      </li>
                    </ol>
                  </nav>
                
                </h5>
                <p class="lead"> 
                    Physical Book means a set of written, printed, illustrated, or blank sheets, made of ink, paper, parchment, or other materials
                </p>

                <dl class="row lead">
                    <dt class="col-sm-3">Title</dt>
                    <dd class="col-sm-9"><%= instance.book.title%>.</dd>

                    <dt class="col-sm-3">Authors</dt>
                    <dd class="col-sm-9">
                        <% for (var i =0; i < instance.book.author.length;  i++ ) { %>
                            <div>
                            <%= instance.book.author[i].firstname %> <%= instance.book.author[i].lastname %>
                        </div>
                    <% } %>
                    </dd>

                    <dt class="col-sm-3">Publisher</dt>
                    <dd class="col-sm-9"><%= instance.book.publisher.name%></dd>
                </dl>
                
         </div>   
         <div class="col">
	<div class="card mt-2" style="width: 25rem;">
    <div class="card-body">
	    <h5 class="card-title">Confirm Delete Book Copy</h5>
	    
    	<p class="card-text"><%= instance.book.title %></p>
    
		
			
				<form method="POST" action="/technicalbook/instance/delete/<%= instance.id %>">		
					
					<div class="alert alert-danger" role="alert">
  					Do you really want to delete this book copy?
					</div>	
					<button type="submit" class="btn btn-danger">
						Delete
					</button>
			  </form>
			


	
		

	<% if (typeof error !== "undefined") { %>
		<div class="alert alert-primary mt-2" role="alert">
		    <p>Form could not be submitted due to the following error:</p>
		    <p><%= error %></p>
		</div>
	<% } %>

	</div>
		
	</div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>