<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="row mt-5">
        <div class="col">
            <h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/technicalbook">Technical Books</a></li>
                      <li class="breadcrumb-item active" aria-current="page">
                        <a href="/technicalbook//update/<%= book._id %>">Edit</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        <strong>Copies</strong>
                      </li>
                    </ol>
                  </nav>
                
                </h5>
                <p class="lead"> 
                    Physical Book means a set of written, printed, illustrated, or blank sheets, made of ink, paper, parchment, or other materials
                </p>
         </div>   
         <div class="col">      

            <table class="table table-striped">
                <thead>
                    <tr>		      
                   
                    <th scope="col">Imprint year</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created At</th>
                    <th scope="col">			      	
                        <a href="/technicalbook/instance/create/<%= book._id %>" class="btn btn-primary">New</a>
                    </th>
            </thead>
                <tbody>
                    <% instances.forEach(function(instance) { %>
                        <tr>		      
                       
                        <td><%= instance.imprintYear %></td>
                        <td><%= instance.status %></td>
                        <td><%= instance.createdAt_formatted %></td>
                        <td>
                            
                            <a href="/technicalbook/instance/update/<%=instance._id%>" class="card-link">Edit</a>
                        </td>		      
                        </tr>
                    <% }); %>	     
                </tbody>
            </table>
           
	</div>
		
	</div>
      
  

    
   
  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>