<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="container">
	<div class="row mt-5">
		
		<div class="col p-5">
			<h5>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/publisher" class="link-secondary">Publishers</a></li>
					  <li class="breadcrumb-item active" aria-current="page">
						<strong>New</strong>
					</li>
					</ol>
				  </nav>
				
			</h5>
			<p class="lead"> 
				Create a new publisher. Fill the form with the name of the publisher company.
			</p>

			<% if (typeof errors !== "undefined") { %>			
				<div class="alert alert-danger mt-2" role="alert">		   
					<% errors.forEach(function(error) { %> 				   			
						<p><%= error.msg %></p>
					<% }) %>
				</div>
			<% } %>
		</div>

		<div class="col">
	
			<form method="POST" action="/publisher/save">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" name="name" value="<%= publisher.name %>" class="form-control">
				</div>
				<button type="submit" class="btn btn-secondary mt-2">Save
				</button>

			</form>

		</div>
		</div>
	</div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>