<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="container">
   	    <h1 class="display-3">Technical Books</h1>

								 
		<div class="table-responsive">		      	 
		<table class="table table-striped ">
	  		<thead>
			    <tr>		      
			      <th scope="col">Title</th>
			      <th scope="col">Publisher</th>
			      <th scope="col">Authors</th>
			      <th scope="col">Genres</th>
			      <th scope="col">			      	
				      <a href="/technicalbook/create" class="btn btn-primary">New</a>
			      </th>
			    </tr>
	  	</thead>
		  	<tbody>
		  		<% list.forEach(function(book) { %>
				    <tr>		      
				      <td><%= book.title %></td>
				      <td><%= book.publisher.name %></td>
				      <td>
				      			
				      			<% book.author.forEach(function(author) { %>
				      				  <span class="badge text-bg-secondary"><%= author.firstname %>, <%= author.lastname %></span>

				      					
				      			<% }); %>
				      		
				      </td>
				      <td>
				      			<% book.genre.forEach(function(genre) { %>
				      				  <span class="badge rounded-pill bg-dark"><%= genre.name %></span>

				      					
				      			<% }); %>
				      </td>
				      <td>
				      	<a href="/technicalbook/update/<%=book._id%>" class="btn btn-secondary">Edit</a>
				      	
				      </td>		      
				    </tr>
		   		<% }); %>	     
		    </tbody>
	    </table>
	    </div>
    
	</div>
		
	
      
  

    
   
  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>